# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ticketing_system

# Backend Configuration
JWT_SECRET=your_jwt_secret_here
NODE_ENV=production
PORT=3000
TZ=Asia/Manila

# VAPID (Push Notifications)
VAPID_CONTACT=mailto:roi.for.work@gmail.com
VAPID_PRIVATE_KEY=yc3LiFRdazOPdCH62MxnWwy014LlYkkiB1FFbmWI8NA
VAPID_PUBLIC_KEY=BF3n0f70gp_oanDDWJYHIxUV-XkaDFfKHj9PeZ9Xl_w-6MzSvnjYfeW94zBT6ywhgQvKtf4aTvY6QU3s72rWRGs

# URLs (Adjust for your domain or Coolify internal networking)
FRONTEND_URL=http://localhost:3001
VITE_API_URL=http://localhost:3002
