@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default;
}

;


/* ── Font overrides ────────────────────────────────────────── */
@theme {
  --font-sans: 'Ubuntu', ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.025em;
}
